//
// Alerts
// --------------------------------------------------

// error in quick edit form
.np-quickedit-error {
	border-left: 4px solid #dd3d36;
	padding: 4px 0 4px 8px;
	margin-bottom: 10px;
	background-color: $gray-lighter;
}