//
// Bulk Edit Form
// --------------------------------------------------
.nestedpages {
	.nestedpages-bulk-edit {
		display: none;
		background-color: $white;
		margin: 0;
		border: 1px solid $border;
		border-bottom: 0;
		h3 {
			padding: 1em;
			margin: 0;
		}

		.fields {
			padding: 1em;
		}

		.np-bulk-titles {
			@include unstyled;
			background-color: $gray-lighter;
			border: 1px solid $border-light;
			border-left: 0;
			border-right: 0;
			padding: .5em;
			li {
				padding: 0;
				margin: .5em 0 0 0;
				&:first-child {
					margin: 0;
				}
			}
			.np-remove {
				display: inline-block;
				background-color: $black;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				text-align: center;
				text-decoration: none;
				color: $white;
				line-height: 18px;
				font-size: 1.5em;
				margin-right: .3em;
				&:hover {
					background-color: darken($white, 50%);
				}
			}
		} //.np-bulk-titles

		.np-bulk-footer {
			padding: 10px;
			text-align: right;
			background-color: #404040;
			@include clearfix;
			.pull-left {
				float: left;
			}
		}

	} // .nestedpages-bulk-edit
} // .nestedpages