//
// Buttons
// --------------------------------------------------
.np-btn {
	text-decoration: none;
	color: #555;
	display: inline-block;
	background-color: #f7f7f7;
	border: 1px solid $border;
	padding: 5px 8px;
	transition: all 200ms ease;
	&:hover {
		background-color: $blue;
		color: $white;
		transition: all 200ms ease;
		border-color: $blue;
	}
	&:disabled, &.disabled {
		opacity: .6;
		cursor: not-allowed;
	}
}

.np-btn-half {
	float: left;
	width: 47%;
	padding: 3px 0px;
	text-align: center;
	&.btn-right {
		float: right;
	}
}


.np-btn-trash {
	background-color: $red;
	border-color: $red;
	color: $white;
	&:hover {
		background-color: darken($red, 15%);
		border-color: darken($red, 15%);
	}
}

// Toggle button for edit buttons (responsive)
.np-toggle-edit {
	display: none;
	float: right;
	margin-right: 10px;
	position: relative;
	top: 9px;
	@extend .np-btn;
	&.active {
		background-color: $blue;
		color: $white;
		box-shadow: none;
		border-color: $blue;
	}
}
@media (max-width: 767px)
{
	.np-toggle-edit {
		display: inline-block;
	}
}

.np-checkbox{
	margin: 0 0 0 -5px;
	display: inline-block;
	span{
		margin:0;
		padding:0;
	}
}