//
// Buttons
// --------------------------------------------------
.np-btn {
	text-decoration: none;
	color: #555;
	display: inline-block;
	background-color: #f7f7f7;
	border: 1px solid $border;
	padding: 3px 8px;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
	transition: all 200ms ease;
	&:hover {
		background-color: $blue;
		color: $white;
		transition: all 200ms ease;
		box-shadow: 0 1px 0 rgba(0,0,0,.08);
	}
}