//
// Link/Menu Item Form
// --------------------------------------------------

// Menu Item Form (In link modal)
.modal-body.np-menu-item-form {
	height: 400px;
	padding: 0;
	border-top: 1px solid $border;
}

// Left Type Selection
.np-menu-type-selection {
	float: left;
	height: 100%;
	overflow: auto;
	width: 35%;
	padding: 15px;
	background-color: $gray-lighter;
	border-right: 1px solid $border;
	box-sizing: border-box;
	ul {
		@include unstyled;
		@include wptable;
		border: 0;
		li {
			margin: 0;
			border: 1px solid $border-light;
			border-top: 0;
			a {
				background-color: $white;
				display: block;
				text-decoration: none;
				padding: 15px 10px;
				position: relative;
				color: darken($white, 80%);
				font-weight: bold;
				transition: all 200ms ease;
				&:hover {
					background-color: darken($white, 8%);
					transition: all 200ms ease;
				}
				&:after {
					position: absolute;
					font-family: "dashicons";
					content: "\f140";
					font-size: 18px;
					right: 10px;
					top: 15px;
					color: darken($white, 50%);
				}
				&.active {
					&:after {
						content: "\f142";
					}
				}
				&:active, &:focus {
					box-shadow: none;
				}
				&.no-terms {
					color: darken($white, 30%);
					span {
						float: right;
						font-weight: normal;
						font-style: oblique;
					}
					&:after {
						content: '';
					}
					&:hover {
						background-color: $white;
						cursor: default;
					}
					&.section {
						padding: 8px 10px;
						background-color: $black;
						color: $white;
					}
				} // .no-terms
			} // a
			&:first-child {
				border-top: 1px solid $border-light;
			}
			ul {
				display: none;
				box-shadow: none;
				padding: 10px;
				background-color: $white;
				li {
					border-color: darken($white, 12%);
					a {
						padding: 8px;
						background-color: $gray-lighter;
						font-weight: normal;
						&:after {
							content: "\f139";
							top: 8px;
							right: 5px;
						}
						&.active {
							background-color: $blue;
							color: $white;
							&:after {
								content: "\f335";
								color: $white;
							}
						}
					}
				} // li 2
			} // ul 2
		} // li 1
	} // ul 1
} // .np-menu-type-selection

// Right Pane
.np-menu-link-object {
	width: 65%;
	float: right;
	height: 100%;
} // .np-menu-link-object

// Placeholder / Inactive Text
.np-menu-link-object-placeholder {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: darken($white, 30%);
}

// Search Filter in menu type selection
.np-menu-search {
	padding: 10px;
	background-color: $gray-lighter;
	input[type="text"]{
		width: 100%;
		height: 35px;
	}
	.np-menu-search-loading {
		display: none;
		height: 30px;
		background: url('../images/spinner.gif') no-repeat;
		background-position: center;
	}
	.np-menu-search-noresults {
		display: none;
		text-align: center;
		padding-top: 8px;
		font-style: oblique;
	}
}

// Details form
.np-menu-link-details {
	padding: 20px;
	h3 {
		margin-top: 0;
		em {
			float: right;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			color: darken($white, 50%);
		}
	}
	.original-link {
		border: 1px solid $border-light;
		font-size: 12px;
		margin-bottom: 15px;
		padding: 5px;
		font-style: oblique;
	}
	.fields {
		background-color: $gray-lighter;
		padding: 15px;
	}
	p {
		margin-top: 0;
	}
	.checkbox {
		margin-bottom: 10px;
	}
	label {
		display: block;
	}
	input[type="text"]{
		width: 100%;
	}
}


