//
// Loading Indication
// --------------------------------------------------
#nested-loading {
	display: none;
	float: right;
	width: 30px;
	height: 30px;
	margin: 0px 20px 0 0;
	position: relative;
	svg {
		width: 30px;
		height: 30px;
		animation: nestedpagesRotate linear 1.25s infinite;
		position: absolute;
		left: 0;
		top: 0;
		line-height: .1;
		path {
			fill: darken($white, 40%);
		}
	}
}

.np-qe-loading,
.np-default-loading,
.np-menu-search-loading {
	display: none;
	float: right;
	width: 25px;
	height: 25px;
	margin: 2px 10px 0 0;
	position: relative;
	animation: nestedpagesRotate linear 1.25s infinite;
	svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 25px;
		height: 25px;
		path {
			fill: $white;
		}
	}
}

.np-default-loading {
	float: none;
	margin: 0;
	svg path {
		fill: darken($white, 40%);
	}
}

@keyframes nestedpagesRotate {
	0% {
		transform: rotate(0deg);
		transform-origin: center center;
	}
	50% {
		transform: rotate(180deg);
		transform-origin: center center;
	}
	100% {
		transform: rotate(360deg);
		transform-origin: center center;
	}
}