//
// Modals
// --------------------------------------------------
.nestedpages-modal-backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	top: 0;
	left: 0;
	z-index: $z-index-modal-backdrop;
	visibility: hidden;
	opacity: 0;
	transition: all 500ms ease;
	&.active {
		visibility: visible;
		opacity: 1;
		transition: all 200ms ease;
	}
}

.nestedpages-modal-content {
	z-index: $z-index-modal-content;
	position: fixed;
	top: -200%;
	width: 90%;
	height: 80%;
	margin: 10px auto 0px auto;
	background-color: $white;
	left: 5%;
	transition: all 500ms ease;
	&.small {
		width: 400px;
		left: 50%;
		margin-left: -200px;
	}
	&.short {
		height: auto;
	}
	&.active {
		top: 50%;
		transition: all 200ms ease;
		transform: translateY(-50%);
	}
	h5 {
		font-size: 1.1em;
	}

	.modal-body {
		position: relative;
		padding: 10px;
		&.new-child {
			padding: 0;
		}
	}

	// Footer (for actions)
	.modal-footer {
		padding: 10px;
		text-align: right;
		background-color: #404040;
		@include clearfix;
		.modal-close {
			float: left;
		}
	}

	.modal-open .modal {
		overflow-x: hidden;
		overflow-y: auto;
	}

	// Actual modal
	.modal-content {
		position: relative;
		background-color: $white;
		box-shadow: 0 3px 9px rgba(0,0,0,.5);
		background-clip: padding-box;
		outline: 0;
	}
}

.nestedpages-modal-full {
	width: 94%;
	height: 94%;
	transform: none;
	left: 3%;
	&.active {
		top: 3%;
	}
	.modal-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		z-index: 4;
		@include clearfix;
		padding-left: .5em;
	} // .modal-header
	.modal-content-interior {
		padding-top: 50px;
		height: 100%;
		.modal-content-body {
			height: 100%;
			max-height: 100%;
		}
	}
} // .modal-full

.np-trash-modal {
	text-align: center;
	.modal-body {
		padding-bottom: 30px;
	}
	.button-primary {
		margin-left: 10px;
	}
}

.clone-modal {
	h3 {
		margin: 0;
		padding: 8px;
		background-color: $border-light;
	}
	.form-control {
		margin: 0 !important;
		padding: 5px 10px;
	}
}