//
// The Page Listing
// --------------------------------------------------

.nestedpages {
	clear: both;
	border-radius: 4px;

	// Sortable Placeholder
	.ui-sortable-placeholder {
		display: block !important;
		position: relative;
		min-height: 46px;
		border: 0;
		border: 1px dashed $blue !important;
		background-color: lighten($blue, 65%);
		margin: 0;
	}

	// Sortable Helper
	.ui-sortable-helper {
		opacity: 0.8;
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,.5);
	}


	ol {
		list-style-type: none;
		clear: both;
		margin: 0;
		@include wptable;

		a {
			text-decoration: none;
		}


		.page-link {
			.edit-indicator {
				margin-left: 10px;
				display: none;
				i {
					font-size: 12px;
					margin-right: 3px;
				}
			}
			&:hover {
				.edit-indicator {
					display: inline;
				}
			}
		}

		// Indicates front page/posts page
		.np-page-type {
			color: $black;
		}

		// Indicates post is being edited
		.locked {
			color: $black;
			margin-left: 10px;
			padding-left: 20px;
			position: relative;
			svg {
				position: absolute;
				left: 0;
				top: -5px;
				width: 15px;
				height: 24px;
			}
			em {
				font-style: normal;
			}
		}

		.row-status-icon {
			width: 18px;
			height: 18px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			.icon {
				fill: darken($white, 30%);
			}
		}

		// Indicates status if not published
		.status {
			color: darken($white, 40%);
		}

		// Indiciates if sticky
		.sticky {
			color: darken($white, 40%);
		}

		// Indicates page is hidden from nested pages
		.np-icon-eye-blocked {
			color: darken($white, 40%);
		}

		// Indicates hidden from nav is selected
		.nav-status {
			color: darken($white, 30%);
		}

		// Hidden from Nested Pages
		.np-hide {
			display: none;
		}

		// Post Type Assignment Actions
		.np-assigned-pt-actions {
			@include unstyled;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			li {
				display: none;
				background: transparent;
				border: 0;
				&.visible {
					display: inline-block;
				}
				a {
					color: $black;
					display: block;
					border-left: 1px solid $border;
					padding: 0 5px;
				}
				&:first-child a {
					border: 0;
					padding-left: 0;
				}
			}
		} // .np-assigned-pt-actions

		// Yoast SEO Indicator
		// See Yoast's metabox-tabs.css
		.np-seo-indicator {
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -6px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: darken($white, 40%);
			&.good {
				background-color: #7ad03a;
			}
			&.ok {
				background-color: #ffba00;
			}
			&.poor {
				background-color: #ee7c1b;
			}
			&.bad {
				background-color: #dd3d36;
			}
			&.warn {
				background-color: maroon;
			}
			&.wrong {
				background-color: red;
			}
            &.noindex {
                background-color: #1e8cbe;
            }
		}

		li {
			margin: 0;
			border-top: 1px solid $border;
			background-color: $blue;
			&.first {
				border: 0;
			}
			&:first-child {
				border: 0;
			}
			&.no-border {
				border: 0;
			}
		} // li

		ol {
			display: none;
			border-radius: 0;
			list-style-type: none;
			border: 0;
			box-shadow: none;
			border-top: 1px solid $border;
		} // ol 2

	} // ol 1

	// Show hidden items in search results
	.np-search-results .np-hide {
		display: block;
	}

	// Block that holds the toggle child arrow
	.child-toggle {
		display: table-cell;
		width: 30px;
		text-align: left;
		.child-toggle-spacer {
			display: inline-block;
			vertical-align: middle;
			height: 50px;
			width: 1px;
		}
		a { // Arrow Toggle
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			width: 29px;
			height: 29px;
			line-height: 29px;
			box-shadow: none;
			transition: all 200ms ease;
			transform-origin: center;
			transform: rotate(0deg);
			&.open {
				transition: all 200ms ease;
				transform: rotate(90deg);
			}
			&:focus, &:active {
				outline: none;
			}
		}
	} // .child-toggle

	.np-icon-arrow {
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 0; 
		position: relative;
		top: -3px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 6px solid darken($white, 80%);
	}

	// Classic/Non-Indented Display of toggle
	.non-indent {
		.child-toggle {
			width: 46px;
			background-color: darken($white, 6%);
			position: relative;
			.child-toggle-spacer {
				display: block;
				height: 46px;
				width: 46px;
			}
			a { // Arrow Toggle
				position: absolute;
				top: 50%;
				display: inline-block;
				vertical-align: middle;
				left: 8px;
				margin-top: -16px;
				width: 28px;
				height: 28px;
				background-color: $white;
				border: 1px solid $border;
				border-radius: 50%;
				line-height: 28px;
				color: $black;
				box-shadow: none;
				transition: all 200ms ease;
				transform: rotate(0deg);
				&.open {
					transition: all 200ms ease;
					transform: rotate(90deg);
				}
				&:hover {
					background-color: $black;
					border-color: $black;
					.np-icon-arrow {
						border-left-color: $white;
					}
				}
			}
		} // .child-toggle
		.np-icon-arrow {
			border-top-width: 4px;
			border-bottom-width: 4px;
			border-left-width: 6px;
		}
	} // .non-indent

	// Handle for sortable functionality
	.handle {
		display: inline-block;
		opacity: .4;
		vertical-align: middle;
		cursor: move;
		position: relative;
		top: -1px;
		width: 20px;
		height: 20px;
		transition: all 200ms ease;
		.bars {
			fill : darken($white, 30%);
		}
		&:hover {
			transition: all 200ms ease;
			color: $blue;
		}
	} // .handle

	// Submenu Indicator
	.np-icon-sub-menu {
		display: none;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		.arrow {
			fill: darken($white, 40%);
		}
	}

	.row.no-sort .page-title {
		padding-left: 10px;
	}

	.row.no-sort-filtered .page-title {
		padding-left: 34px;
	}

	.page-title {
		display: inline-block;
		vertical-align: middle;
	}

	.page-title .link-icon {
		width: 20px;
		height: 20px;
		display: inline;
		vertical-align: middle;
		margin-left: 8px;
		position: relative;
		top: -2px;
		.icon {
			fill: darken($white, 30%);
		}
	}

	.np-thumbnail {
		display: table-cell;
		width: 80px;
		vertical-align: middle;
		@include clearfix;
		img {
			float: right;
			width: 100%;
			height: auto;
		}
		&.large {
			width: 150px;
		}
		&.small {
			width: 50px;
		}
		&.link {
			text-align: center;
		}
	}

	.np-bulk-checkbox {
		display: table-cell;
		width: 33px;
		vertical-align: middle;
		text-align: center;
		background-color: darken($white, 6%);
		input[type="checkbox"]{
			margin-right: 0;
		}
	}

	// Normalize the submenu and handle icons
	.handle, .np-icon-sub-menu {
		width: 30px;
		text-align: center;
		vertical-align: middle;
	}

	// Hide/show the submenu indicator & handle on hover of the row
	.non-indent li ol .row {
		.np-icon-sub-menu { display: inline-block; }
		.handle { display: none; }
		&:hover {
			.np-icon-sub-menu {	display: none; }
			.handle { display: inline-block; }
		}
		&.no-sort {
			.np-icon-sub-menu { display: inline-block; }
		}
	}

	.no-sort ol li .row:hover {
		.np-icon-sub-menu { display: inline-block; }
	}

	.page-row.hidden {
		display: none;
	}

	// Main Row Element
	.row {
		background-color: $white;
		display: table;
		width: 100%;
		&:hover, &.active {
			background-color: darken($white, 6%);
			.handle {
				opacity: 1;
			}
			.np-assigned-pt-actions li {
				display: inline-block;
			}
			.cell.custom-column {
				visibility: hidden;
			}
		}
		&.np-updated {
			background-color: lighten(#7ad03a, 40%);
			transition: background-color 400ms ease;
		}
		&.np-updated-show {
			background-color: $white;
			transition: background-color 400ms ease;	
		}
		&.search .page-title {
			padding-left: 10px;
		}
	} // .row

	.non-hierarchical-spacer {
		height: 47px;
	}

	.row-inner {
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}


	// Inner row element gets padding to give visual indicator of nested depth
	ol li ol {
		.row-inner {
			padding-left: 0px;
		}
		li ol {
			.row-inner {
				padding-left: 20px;
			}
			li ol {
				.row-inner {
					padding-left: 40px;
				}
				li ol {
					.row-inner {
						padding-left: 60px;
					}
					li ol {
						.row-inner {
							padding-left: 80px;
						}
					}
				}
			}
		}
	}

	// Post Data Columns
	.np-post-columns {
		float: right;
		margin: 3px 20px 0px 0px;
		@include clearfix;
		ul li {
			background: transparent;
			color: darken($white, 50%);
			border: 0;
			float: left;
			margin-left: 8px;
			padding-left: 8px;
			border-left: 1px solid darken($white, 20%);
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border: 0;
			}
		}
	}
	.has-yoast .np-post-columns {
		margin-right: 30px;
	}

	.has-custom-columns .np-post-columns {
		display: none;
	}

	// Action Buttons
	.action-buttons {
		display: none;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -15px;
		a {
			margin: 0 0 0 -5px;
			padding: 0 .5em;
			height: 30px;
			line-height: 30px;
			&.np-btn-trash {
				margin-left: 4px;
				svg {
					width: 20px;
					height: 20px;
					position: relative;
					top: 4px;
					.icon {
						fill: $white;
					}
				}
			}
		}
	}

	.action-buttons .nestedpages-dropdown {
		display: inline-block;
		vertical-align: middle;
		.np-btn.toggle {
			background: transparent;
			border: 0;
			svg {
				position: relative;
				top: 4px;
			}
			&:active, &:focus {
				box-shadow: none;
			}
			&.active {
				color: darken($white, 50%);
			}
		}
		ul {
			left: auto;
			right: 5px;
			width: 180px;
			li {
				background-color: $white;
				a {
					display: block;
					color: $black;
					line-height: 1.2;
					height: auto;
					margin: 0;
					padding: 10px 5px 10px 30px;
					position: relative;
					&.disabled {
						opacity: .3;
					}
					svg {
						position: absolute;
						left: 0;
						width: 20px;
						height: 20px;
						top: 8px;
						margin-right: 5px;
						margin-left: 5px;
					}
				}
			} // li
		} // ul
	} // .nestedpages-dropdown

} // .nestedpages

.np-search {
	float: right;
}

// List Header
.nestedpages-list-header {
	background-color: $white;
	border: 1px solid $border;
	border-bottom: 0;
	height: 46px;
	@include clearfix;
	.np-check-all {
		float: right;
		width: 33px;
		text-align: center;
		line-height: 46px;
		background-color: darken($white, 6%);
		input[type="checkbox"]{
			margin: 0;
			&.check-all-partial:checked:before {
				content: "-";
				margin: 0;
				margin-top: -9px;
			}
		}
	}
	.np-hidden-select-count {
		display: none;
		float: right;
		margin: 0 1em 0 0;
		line-height: 46px;
		font-style: oblique;
	}
	.np-bulk-form {
		padding-right: 3px;
		float: right;
		margin-right: 5px;
		position: relative;
		top: 9px;
		select, input[type="submit"]{
			display: inline-block;
		}
	}
} // .nestedpages-list-header

@media (min-width: 768px)
{
	.nestedpages .row:hover .action-buttons,
	.nestedpages .row.active .action-buttons {
		display: block;
	}
	.nestedpages .row:hover .np-post-columns,
	.nestedpages .row.active .np-post-columns {
		display: none;
	}
}


@media (max-width: 767px)
{
	.nestedpages {
		ol .page-link {
			line-height: 24px;
			&:hover span {
				display: none;
			}
		}

		ol .locked em {
			display: none;
		}

		.child-toggle {
			background: transparent;
		}

		.row {
			height: auto;
		}

		.action-buttons {
			display: none;
			background-color: $blue;
			float: none;
			margin: 0;
			padding: 8px;
			a {
				margin-left: 5px;
			}
		}
	} // .nestedpages
} // media query