//
// The Page Listing
// --------------------------------------------------

.nestedpages {
	clear: both;
	border-radius: 4px;

	// Sortable Placeholder
	.ui-sortable-placeholder {
		display: block !important;
		position: relative;
		min-height: 46px;
		border: 0;
		border: 1px dashed $blue !important;
		background-color: lighten($blue, 65%);
		margin: 0;
	}

	// Sortable Helper
	.ui-sortable-helper {
		opacity: 0.8;
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,.5);
	}


	ol {
		list-style-type: none;
		clear: both;
		margin: 0;
		@include wptable;

		a {
			text-decoration: none;
		}


		.page-link {
			.edit-indicator {
				margin-left: 10px;
				display: none;
				i {
					font-size: 12px;
					margin-right: 3px;
				}
			}
			&:hover {
				.edit-indicator {
					display: inline;
				}
			}
		}

		// Indicates front page/posts page
		.np-page-type {
			color: $black;
		}

		// Indicates post is being edited
		.locked {
			color: $black;
			margin-left: 20px;
			em {
				font-style: normal;
			}
		}

		// Indicates status if not published
		.status {
			color: darken($white, 40%);
		}

		// Indicates page is hidden from nested pages
		.np-icon-eye-blocked {
			color: darken($white, 40%);
		}

		// Indicates hidden from nav is selected
		.nav-status {
			color: darken($white, 30%);
		}

		// Hidden from Nested Pages
		.np-hide {
			display: none;
		}

		// Yoast SEO Indicator
		// See Yoast's metabox-tabs.css
		.np-seo-indicator {
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -6px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: darken($white, 40%);
			&.good {
				background-color: #7ad03a;
			}
			&.ok {
				background-color: #ffba00;
			}
			&.poor {
				background-color: #ee7c1b;
			}
			&.bad {
				background-color: #dd3d36;
			}
			&.warn {
				background-color: maroon;
			}
			&.wrong {
				background-color: red;
			}
            &.noindex {
                background-color: #1e8cbe;
            }
		}

		li {
			margin: 0;
			border-top: 1px solid $border;
			background-color: $blue;
			&.first {
				border: 0;
			}
			&:first-child {
				border: 0;
			}
			&.no-border {
				border: 0;
			}
		} // li

		ol {
			display: none;
			border-radius: 0;
			list-style-type: none;
			border: 0;
			box-shadow: none;
			border-top: 1px solid $border;
		} // ol 2

	} // ol 1

	// Show hidden items in search results
	.np-search-results .np-hide {
		display: block;
	}

	// Block that holds the toggle child arrow
	.child-toggle {
		display: table-cell;
		width: 46px;
		background-color: darken($white, 6%);
		text-align: center;
		position: relative;
		.child-toggle-spacer {
			height: 46px;
			width: 100%;
		}
		a { // Arrow Toggle
			position: absolute;
			top: 50%;
			left: 8px;
			margin-top: -16px;
			width: 28px;
			height: 28px;
			background-color: $white;
			border: 1px solid $border;
			border-radius: 20px;
			font-size: 20px;
			line-height: 30px;
			color: $black;
			box-shadow: none;
			transition: all 200ms ease;
			i {
				line-height: 26px;
			}
			&:hover {
				background-color: $blue;
				color: $white;
				border-color: $blue;
			}
		}
	} // .child-toggle

	// Handle for sortable functionality
	.handle {
		display: inline-block;
		cursor: move;
		font-size: 20px;
		color: darken($white, 30%);
		transition: all 200ms ease;
		&:hover {
			transition: all 200ms ease;
			color: $blue;
		}
	} // .handle

	// Submenu Indicator
	.np-icon-sub-menu {
		display: none;
		color: darken($white, 40%);
	}

	.row.no-sort .page-title {
		padding-left: 10px;
	}

	.np-thumbnail {
		display: table-cell;
		width: 80px;
		vertical-align: middle;
		@include clearfix;
		img {
			float: right;
			width: 100%;
			height: auto;
		}
		&.large {
			width: 150px;
		}
		&.small {
			width: 50px;
		}
		&.link {
			background-color: darken($white, 8%);
			text-align: center;
			border-right: 1px solid $border;
			i {
				font-size: 1.8em;
				opacity: .5;
			}
		}
	}

	.np-bulk-checkbox {
		display: table-cell;
		width: 33px;
		vertical-align: middle;
		text-align: center;
		background-color: darken($white, 6%);
		input[type="checkbox"]{
			margin-right: 0;
		}
	}

	// Normalize the submenu and handle icons
	.handle, .np-icon-sub-menu {
		width: 30px;
		text-align: center;
		vertical-align: middle;
	}

	// Hide/show the submenu indicator & handle on hover of the row
	li ol .row {
		.np-icon-sub-menu { display: inline-block; }
		.handle { display: none; }
		&:hover {
			.np-icon-sub-menu {	display: none; }
			.handle { display: inline-block; }
		}
		&.no-sort {
			.np-icon-sub-menu { display: inline-block; }
		}
	}


	// Main Row Element
	.row {
		background-color: $white;
		display: table;
		width: 100%;
		&:hover {
			background-color: darken($white, 6%);
		}
		&.np-updated {
			background-color: lighten(#7ad03a, 40%);
			transition: background-color 400ms ease;
		}
		&.np-updated-show {
			background-color: $white;
			transition: background-color 400ms ease;	
		}
		&.search .page-title {
			padding-left: 10px;
		}
	} // .row

	.non-hierarchical-spacer {
		height: 47px;
	}

	.row-inner {
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}


	// Inner row element gets padding to give visual indicator of nested depth
	ol li ol {
		.row-inner {
			padding-left: 0px;
		}
		li ol {
			.row-inner {
				padding-left: 20px;
			}
			li ol {
				.row-inner {
					padding-left: 40px;
				}
				li ol {
					.row-inner {
						padding-left: 60px;
					}
					li ol {
						.row-inner {
							padding-left: 80px;
						}
					}
				}
			}
		}
	}

	// Post Data Columns
	.np-post-columns {
		float: right;
		margin: 3px 20px 0px 0px;
		@include clearfix;
		ul li {
			background: transparent;
			color: darken($white, 50%);
			border: 0;
			float: left;
			margin-left: 8px;
			padding-left: 8px;
			border-left: 1px solid darken($white, 20%);
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border: 0;
			}
		}
	}
	.has-yoast .np-post-columns {
		margin-right: 30px;
	}

	// Action Buttons
	.action-buttons {
		display: none;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -15px;
		a {
			margin: 0 0 0 -5px;
			&.np-btn-trash {
				margin-left: 4px;
			}
		}
	}

} // .nestedpages


.np-search {
	float: right;
}

// List Header
.nestedpages-list-header {
	background-color: $white;
	border: 1px solid $border;
	border-bottom: 0;
	height: 46px;
	@include clearfix;
	.np-check-all {
		float: right;
		width: 33px;
		text-align: center;
		line-height: 46px;
		background-color: darken($white, 6%);
		input[type="checkbox"]{
			margin: 0;
			&.check-all-partial:checked:before {
				content: "-";
				margin: 0;
				margin-top: -9px;
			}
		}
	}
	.np-hidden-select-count {
		display: none;
		float: right;
		margin: 0 1em 0 0;
		line-height: 46px;
		font-style: oblique;
	}
	.np-bulk-form {
		padding-right: 3px;
		float: right;
		margin-right: 5px;
		position: relative;
		top: 9px;
		select, input[type="submit"]{
			display: inline-block;
		}
	}
} // .nestedpages-list-header

@media (min-width: 768px)
{
	.nestedpages .row:hover .action-buttons {
		display: block;
	}
	.nestedpages .row:hover .np-post-columns {
		display: none;
	}
}


@media (max-width: 767px)
{
	.nestedpages {
		ol .page-link {
			line-height: 24px;
			&:hover span {
				display: none;
			}
		}

		ol .locked em {
			display: none;
		}

		.child-toggle {
			background: transparent;
		}

		.row {
			height: auto;
		}

		.action-buttons {
			display: none;
			background-color: $blue;
			float: none;
			margin: 0;
			padding: 8px;
			a {
				margin-left: 5px;
			}
		}
	} // .nestedpages
} // media query