//
// Quick Edit Form
// --------------------------------------------------

.nestedpages .quick-edit, .nestedpages .new-child {
	.form-interior {
		padding: 10px;
	}
	h3 {
		margin: 0 0 8px 0;
		font-size: 14px;
		// Page ID
		span {
			float: right;
			font-size: 12px;
			em {
				font-weight: normal;
				font-style: normal;
				color: darken($white, 50%);
			}
		}
	}
	.fields {
		margin-bottom: 10px;
		background: url('../images/border.png') repeat-y;
		background-position: center;
		@include clearfix;
	}
	.left {
		float: left;
		width: 48%;
	}
	.right {
		float: right;
		width: 48%;
	}
	label {
		font-style: oblique;
	}
	.buttons {
		clear: both;
		@include clearfix;
		background-color: darken($white, 75%);
		padding: 8px;
	}
	.form-control {
		clear: both;
		@include clearfix;
		margin-bottom: 5px;
		input[type='text'],
		input[type='password'],
		select {
			float: right;
			width: 75%;
		}
		label {
			float: left;
			width: 20%;
		}
		&.original-link {
			background-color: $gray-lighter;
			border: 1px solid $border;
			padding: 5px;
			font-style: oblique;
			margin-bottom: 8px;
		}
		&.password {
			label {
				width: 25%;
			}
			input[type="text"]{
				float: left;
				width: 35%;
			}
			.private {
				float: right;
				width: 35%;
				margin-top: 4px;
				label {
					width: auto;
					float: none;
				}
			}
		}
		&.np-datepicker-container {
			.datetime {
				float: right;
				width: 75%;
			}
			.np-time-container {
				float: left;
				width: 45%;
				margin: 0;
				position: relative;
				input[type="text"]{
					float: left;
					width: 55%;
				}
				select {
					float: right;
					width: 35%;
				}
			}
			.np_datepicker {
				float: left;
				width: 45%;
				margin: 0;
			}
			span {
				float: left;
				width: 10%;
				display: block;
				text-align: center;
				padding-top: 3px;
			}
		}
		&.full {
			label {
				width: 100%;
			}
			&.checkbox {
				label {
					padding: 5px 0 5px 25%;
				}
			}
		}
	} // .form-control
	.comments {
		float: right;
		width: 75%;
		margin-bottom: 10px;
		@include clearfix;
	}
	.dates {
		float: right;
		width: 75%;
		margin-bottom: 6px;
		select	{
			width: 25%;
		} 
		input {
			width: 12%;
		}
	}

	// Toggle Buttons
	.np-toggle-options {
		background-color: darken($white, 5%);
		padding: 5px;
	}

	.np-taxonomies, .np-menuoptions {
		display: none;
		clear: both;
		background-color: $gray-lighter;
		padding: 8px;
		@include clearfix;
		margin-top: 5px;
	}
	.np-taxonomy {
		float: left;
		width: 30%;
		margin-right: 3.33%;
		.title {
			font-weight: bold;
			margin-bottom: 4px;
			display: block;
		}
		li {
			background-color: $white;
			border: 0;
		}
		textarea {
			width: 100%;
			height: 6.5em;
		}
	} // .np-taxonomy

	// Menu Items
	.np-menuoptions {
		padding: 15px;
		label, input[type="text"] {
			display: block;
			float: none;
			width: 100%;
		}
		.menuoptions-left {
			float: left;
			width: 47%;
		}
		.menuoptions-right {
			float: right;
			width: 47%;
			padding-top: 18px;
			label {
				margin-bottom: 10px;
			}
		}
	} // .np-menuoptions

	// Hide Options (Hide from specific groups)
	.np-hide-options {
		display: none;
		background-color: darken($white, 6%);
		border-radius: 3px;
		clear: both;
		padding: 6px;
		box-sizing: border-box;
		p {
			margin: 0;
		}
		label {
			display: block;
			margin-top: 4px;
			font-style: normal;
		}
	}

	// Sortable New Page Titles
	.new-page-titles {
		display: block;
		border: 0;
		li {
			background: transparent;
			border: 0;
			padding: 4px;
			@include clearfix;
			&:nth-child(even){
				background-color: darken($white, 6%);
			}
			label {
				margin-top: 7px;
			}
		}
		.form-control {
			float: right;
			width: 90%;
			clear: none;
		}
		.np-icon-menu {
			float: left;
			margin-top: 0px;
			width: 24px;
			height: 24px;
			position: relative;
			top: 5px;
		}
		.new-child-row {
			div {
				float: right;
				width: 75%;
				margin: 2px;
				@include clearfix;
				input[type='text']{
					float: left;
					width: 80%;
				}
				a {
					float: right;
				}
			}
		} // .new-child-row
	} // .new-page-titles

}

// Overrides for Modal Form
.np-modal.nestedpages .new-child .right {
	.form-control {
		input[type='text'],
		input[type='password'],
		select {
			float: none;
			width: 100%;
		}
		label {
			float: none;
			width: 100%;
		}
		&.full {
			label {
				padding-left: 0;
			}
		}
	}
}
.np-modal.nestedpages .new-child .new-page-titles .form-control {
	width: 85%;
	div {
		width: 100%;
	}
}
.np-modal.nestedpages .new-child .left {
	label {
		display: none;
	}
}

.np-qe-loading {
	display: none;
	float: right;
	width: 25px;
	height: 25px;
	margin: 2px 10px 0 0;
	background: url('../images/loading-white.gif') no-repeat;
}

@media (max-width: 767px)
{
	.nestedpages .quick-edit {
		.fields {
			background: transparent;
		}
		.left, .right {
			float: none;
			width: 100%;
		}
		.form-control {
			margin-bottom: 10px;
			input[type='text'],
			input[type='password'],
			select {
				float: none;
				width: 100%;
			}
			label {
				display: block;
				float: none;
				width: 100%;
				margin-bottom: 4px;
			}
			&.np-datepicker-container .datetime {
				float: none;
				width: 100%;
			}
		}
		.comments {
			float: none;
			width: 100%;
		}
		.dates {
			float: none;
			width: 100%;
			margin-bottom: 6px;
		}
	}
}