//
// Tables in Settings (Post Types, etc)
// --------------------------------------------------
.nestedpages-settings-table {
	@include wptable;
	.row-container {
		border-bottom: 1px solid $border;
		&:last-child {
			border: 0;
		}
		.head {
			@include clearfix;
			line-height: 46px;
			background-color: $white;
			padding-right: 10px;
			.checkbox {
				float: left;
				width: 46px;
				height: 46px;
				background-color: rgba($black, .06);
				text-align: center;
				line-height: 46px;
				margin-right: 10px;
			}
			label {
				float: left;
				line-height: 46px;
				margin: 0;
				em {
					color: darken($white, 40%);
				}
			}
			.button {
				float: right;
				margin-top: 10px;
			}
		} // .head
		&.active .head {
			background-color: $blue;
			color: $white;
		}
		.row {
			display: table;
			width: 100%;
			&.submit {
				display: block;
				p {
					margin: 0;
				}
			}
			.description {
				display: table-cell;
				vertical-align: top;
				width: 25%;
				border-bottom: 1px solid $border;
				background-color: $gray-lighter;
				padding: 1em;
				p {
					color: darken($white, 50%);
					font-size: .9em;
				}
				strong {
					color: $black;
					font-size: 1.2em;
				}
			}
			.field {
				display: table-cell;
				vertical-align: top;
				width: 75%;
				background-color: $white;
				border-bottom: 1px solid $border;
				border-left: 1px solid $border;
				padding: 1em;
				&.padded-sides {
					padding: 1em 2em;
				}
				&.extra-padding {
					padding: 2em;
				}
				label.block {
					display: block;
				}
				input[type="text"], 
				input[type="tel"],
				select{
					width: 100%;
				}
				label em {
					// display: block;
				}
			}
		} // .row
		.body {
			display: none;
			h4 {
				margin: 0;
				padding: 10px 0 0 10px;
			}
			.settings-details {
				margin: 0;
			}
			li {
				margin: 0;
			}
		}
		.settings-details li:last-child .field,
		.settings-details li:last-child .description {
			border-bottom: 0;
		}
		.custom-fields, .standard-fields, .columns {
			display: none;
			padding-top: 20px;
			.custom-field-group {
				height: 150px;
				overflow: auto;
				background-color: $gray-lighter;
				padding: 10px;
				border: 1px solid $border;
			}
			h5 {
				padding: 0;
				font-weight: normal;
				font-style: oblique;
				margin: 0;
				color: darken($white, 40%);
				margin-bottom: 6px;
			}
			p {
				margin: 0 0 6px 0;
				font-weight: bold;
			}
			ul {
				margin: 0;
				&.indented {
					padding-left: 15px;
				}
				li {
					margin: 3px 0 0 0;
				}
			}
		} // .custom-fields
		.thumbnail-options {
			background-color: $gray-lighter;
			padding: 10px;
			border: 1px solid $border;
			margin-top: 1em;
			label {
				display: block;
			}
			select {
				margin-bottom: 1em;
			}
		} // .thumbnail-options
	} // .post-type
} // .nestedpages-settings-posttypes

.nestedpages-page-pt-assignment {
	background-color: $gray-lighter;
	padding: 10px;
	border: 1px solid $border;
	margin-top: 1em;
	input[type="search"]{
		width: 100%;
		margin-bottom: 1em;
	}
	.np-quickedit-info {
		background-color: $white;
		border-right: 1px solid $border-light;
		border-top: 1px solid $border-light;
		border-bottom: 1px solid $border-light;
	}
	.nestedpages-page-search-results {
		height: 100px;
		overflow: auto;
		ul {
			@include unstyled;
		}
		a {
			display: block;
			text-decoration: none;
			border-top: 1px solid darken($border, 2%);
			padding: 3px 0;
			color: $black;
			background-color: $gray-lighter;
			&:hover {
				background-color: $blue;
				color: $white;
				padding-left: 5px;
			}
		}
		li:first-child a {
			border: 0;
			padding-top: 0;
		}
	} // .nestedpages-page-serach-results
} // .nestedpages-page-pt-assignment

.nestedpages-page-pt-assignment-selection {
	background-color: $gray-lighter;
	border: 1px solid $border;
	margin-top: 1em;
	padding: .5em;
}

.nestedpages-sort-options-selection,
.nestedpages-checklist-field {
	background-color: $gray-lighter;
	border: 1px solid $border;
	margin-top: 1em;
	padding: .5em;
	label {
		display: block;
		margin-top: 3px;
		&:first-child {
			margin: 0;
		}
	}
	.sort-options-default {
		display: none;
		background-color: $white;
		margin: .5em 0 1.5em 0;
		padding: .75em;
		border: 1px solid $border;
		label {
			display: inline-block;
		}
		select {
			width: auto !important;
		}
	}
}





