//
// Toggle Visibility of pages
// --------------------------------------------------
.nestedpages-toggleall {
	float: right;
	margin-top: -30px;
}

// Publish Toggle
.np-toggle-publish {
	color: darken($white, 40%);
	&.active {
		color: $black;
		font-weight: bold;
	}
}