//
// Toggle Visibility of pages
// --------------------------------------------------

.nestedpages-listing-title {
	float: left;
}

// Clear fix for admin notices
.nestedpages .updated {
	clear: both;
}

// Toggle Button
.nestedpages-toggleall.np-btn {
	float: right;
}

// Publish Toggle
.np-toggle-publish {
	color: darken($white, 40%);
	&.active {
		color: $black;
		font-weight: bold;
	}
}

// Sync Menu
.np-sync-menu-cont {
	float: right;
	margin: 5px 15px 0px 0px;
}

#nested-loading {
	display: none;
	float: right;
	width: 30px;
	margin: 0px 20px 0 0;
}

.nestedpages-top-toggles {
	@include clearfix;
	padding-top: 10px;
}