//
// Toggle Visibility of pages
// --------------------------------------------------

.nestedpages-listing-title {
	@include clearfix;
}

// Clear fix for admin notices
.nestedpages .updated {
	clear: both;
}

// Toggle Button
.nestedpages-toggleall.np-btn {
	float: right;
}

// Publish Toggle
.np-toggle-publish {
	color: darken($white, 40%);
	&.active {
		color: $black;
		font-weight: bold;
	}
}

// Sync Menu
.np-sync-menu-cont {
	float: right;
	margin: 0px 15px 0px 0px;
	button {
		position: relative;
		top: -5px;
		padding: 5px 8px;
	}
	label {
		position: relative;
		top: 4px;
	}
}

.nestedpages-top-toggles {
	float: right;
	@include clearfix;
	padding-top: 10px;
}