//
// Links/Tools Above the Page Listing
// --------------------------------------------------

.nestedpages-tools {
	@include clearfix;
	clear: both;
	margin-bottom: 10px;
	.subsubsub {
		margin: 0;
	}
	.tools-right {
		float: right;
	}
	.select {
		float: left;
		margin-left: 10px;
	}
}