//
// Links/Tools Above the Page Listing
// --------------------------------------------------

.nestedpages-tools {
	@include clearfix;
	clear: both;
	margin-bottom: 5px;
	.subsubsub {
		margin: 0;
	}
	.np-tools-primary {
		clear: left;
		padding-top: 8px;
	}
	.select {
		float: left;
		margin-left: 5px;
		&.first {
			margin-left: 0;
		}
	}
	.np-tools-sort {
		float: left;
	}
	.np-tools-search {
		float: right;
	}
}