//
// WP Pages Styles
// --------------------------------------------------
@import "_variables.scss";
@import "_mixins.scss";

@import "_buttons.scss";
@import "_alerts.scss";
@import "_modals.scss";
@import "_inline-modals.scss";
@import "_toggle-all.scss";
@import "_tabs.scss";
@import "_datepicker.scss";
@import "_dropdowns.scss";
@import "_loading.scss";

@import "_top-tools.scss";
@import "_expand-handle.scss";
@import "_page-listing.scss";
@import "_quick-edit.scss";
@import "_form-modal.scss";
@import "_link-form.scss";
@import "_bulk-edit.scss";
@import "_columns.scss";

@import "_wpml-translation-modal.scss";

@import "_settings.scss";
@import "_settings-tables.scss";
@import "_settings-admin-nav-menu.scss";

@import "_dark.scss";